


/* REGISTER  */

.slide-form-wrapper-register{
    display: flex;
    justify-content: center;
    padding: 50px ;
    margin: 0px auto;
    background-color: #030303;
    border: 1px solid black;
    /* max-width: 100%; */
    min-height: 780px;
    /* width: 50%; */
    }

.slide-form-wrapper-register .right-container-register{
    background-color: #fff;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 33%;
    border-radius: 0 40px 40px 0;
    }

    .right-container-register input{
        background-color: #eee;
        border: 0.1px solid #21D4FD;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    }

    .right-container-register #btn-sign-up{
        border: 1px solid #674477;
        border-radius: 20px;
        background-color: #674477;
        color: #fff;
        padding: 10px 40px;
        margin: 10px;
        letter-spacing: 1px;
    }

    .slide-form-wrapper-register .right-container-register .sign-up-container form{
        display: flex;
        flex-direction: column;
        padding: 0px 50px;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
     }






    .slide-form-wrapper-register .left-container-register{
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);    
        color: #fff;
        width: 33%;
        border-radius: 40px 0 0 40px;
    }

    .slide-form-wrapper-register .left-container-register .sign-in-desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
        height: 100%;  
    }

    .left-container-register #btn-sign-in{
        border: 1px solid #674477;
        border-radius: 20px;
        border-color: #fff;
        background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);   
        color: #fff;
        padding: 10px 40px;
        margin: 10px;
        letter-spacing: 1px;
    }